body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;

  align-items: center;
}
.time {
  display: flex;
  background-image: url("gifs/child.gif");
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: absolute;
  
  min-width: 60%;
  min-height: 20vh;
  background-color:white;
  color:black;
}
#game div {
  height: 200px;
  width: 15%;
  border: 1px solid black;
  background-color: white;
  transition: 1000ms ease-in-out;

/* margin: 10px; */
  display: flex;
  border-radius: 5px;
}
img {
  min-width: 20%;
  max-width: 20%;
  height: 200px;

  border: 3px red solid;

  background-size: cover;
}

.myDiv {
  transform: rotateY(180deg);
}
#game {

  background-image: url("gifs/game.jpg");
  width: 60%;
  min-height: 80vh;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
button {
  width: 80px;
  height: 40px;
  color: rgb(48, 42, 42);
  background-color: violet;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.backDrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backDrop>div {
  background-image: linear-gradient(to bottom right, black, rgba(136, 0, 255, 1), yellow);
  color: white;
  font-weight: 600;
  padding: 0 2rem;
  border-radius: 1rem;
  height: 30vh;
}

.backDrop>div>div {
  display: flex;
  justify-content: center;
}