body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("gifs/game.jpg");
    color: rgb(51, 231, 27);
  }
  .container {
   
    display: flex;
    justify-content: center;
  
    align-items: center;
  }
  .time {
    display: flex;
    background-image: url("gifs/child.gif");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    
    min-width: 60%;
    min-height: 20vh;
    background-color:white;
    color : white;
  }
  #game div {
    height: 200px;
    width: 15%;
    border: 1px solid black;
    background-color: white;
  /* margin: 10px; */
  /* transition: 1000ms ease-in-out; */
    display: flex;
    border-radius: 5px;
  }
  img {
    min-width: 20%;
    max-width: 20%;
    height: 200px;
  
    border: 3px red solid;
  
    background-size: cover;
  }
  
  .myDiv {
    transform: rotateY(180deg);
    transition: 1000ms ease-in-out;
  }
  #game {
    width: 60%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  button {
    width: 80px;
    height: 40px;
    color:white;
    background-color: violet;
  }
  .header{
    display: flex;
    justify-content: space-between;
    width: 60%;
  }